doctype html
html(lang="ja")
  head
    include includes/head
    title Document
  body
    //- include includes/header
    img.logo(src='menou_logo.png' alt='Menou')
    section.container
      form(method='post' action='/analyze')
        fieldset
          label(for='repo')
            | GitHub Repository
            span.red *
          input#repo(type='text' placeholder='https://github.com/mizucoffee/todo_app' name='repo')
          label(for='path') Path
          input#path(type='text' placeholder='express' name='path')
          label(for='branch') Branch
          input#branch(type='text' name='branch')
          label(for='type')
            | Type
            span.red *
          select#type(name='type')
            option(value='01_count' selected='') 01_count
            option(value='03_wikipedia') 03_wikipedia
            option(value='08_express') 08_express
            option(value='10_login') 10_login
            option(value='16_todo') 16_todo
          input.button-primary(type='submit' value='Send')
